:root {
	--primary-color: #000;
	--secondary-color: #808080;
	--dark-color: #333;
	--light-color: #fff;
	--success-color: #5cb85c;
	--error-color: #d9534f;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.theme {
  background-color: var(--primary-color);
  color: var(--light-color);
}

.show {display: block;}
.hide {display: none;}

:focus {
  outline: none;
  outline-offset: 0;
}

.form-inline {  
  display: flex;
	flex-direction: row;
  flex-flow: row wrap;
	/* flex-wrap: nowrap; */
  align-items: center;
}

:focus {
  outline: none;
  outline-offset: 0;
}
input {
  width:200px;
}
input[type=text], input[type=date], input[type=tel], input[type=number], input[type=email] {
  writing-mode: horizontal-tb !important;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  -webkit-appearance: textfield;
  -webkit-rtl-ordering: logical;
  cursor: pointer;
  margin: 0em;
  font: 400 12px "Segoe UI";
  padding: 1px 2px;
  border-width: 1px;
  border-style: solid;
  border-color: gray;
  border-image: none;
  height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  ;
}

.singleSelect:hover .singleSelect-content{display:block}

.singleSelect-content {
  display: none;
  position: absolute;
  cursor:auto;
  background-color: #f1f1f1;
  min-width: 160px;
  max-height: 400px;
  overflow-y: auto;
  white-space: nowrap;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 2px 0;
}
.singleSelect-content option {
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
  margin: 0;
  padding: 2px;
  border: 0;
  width: 100%;
}

.multiSelect:hover .multiSelect-content{display:block}

.multiSelect-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  max-height: 400px;
  overflow-y: auto;
  white-space: nowrap;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 2px 4px 12px 2px;
}
.multiSelect-content div {
  position: relative;
  cursor: auto;
  -webkit-appearance: checkbox;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
}
.multiSelect-content input {
  position: relative;
  top: 2px;
  cursor: pointer;
  -webkit-appearance: checkbox;
  box-sizing: border-box;
}
.multiSelect-content label {
  cursor: pointer;
}

.show {display: block;}
.hide {display: none;}

.dialog {
	position: absolute;
	z-index: 9998;
	background-color: #f1f1f1;
	border: 1px solid #d3d3d3;
	display: none;
	flex-flow: column;
	min-width: 200px;
	min-height: 100px;
	max-height: 500px;
}

.dialogheader {
	min-height: 30px;
	padding: 10px;
	cursor: move;
}

.dialogcontent {
  flex: 1;  /* 1 and it will fill whole space left if no flex value are set to other children*/
  padding: 10px;
  overflow: auto;
}

.dialogfooter {
  padding: 10px;
  min-height: 30px;
  text-align: right;
}

.dialogfooter button {
  margin-left: 8px;
  display: inline-block;
}

.dialogclose {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 30px;
  cursor: pointer;
  line-height: 1em;
}

.tableWrap {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  overflow: auto;
}
table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}
thead tr th {
  position: sticky;
  top: 0;
}
th {
  padding: 6px;
  text-align: left;
  /* With border-collapse, we must use box-shadow for the header borders */
  box-shadow: 0px 0px 0 1px;
}
tbody tr {
  border-bottom: 1px solid gray;
}
tbody tr:hover {
  background: #e6f7ff;
}
