:root {
	--primary-color: #047aed;
	--secondary-color: #1c3fa8;
	--dark-color: #002240;
	--light-color: #f4f4f4;
	--success-color: #5cb85c;
	--error-color: #d9534f;
}

/* HTML */

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: "Segoe UI",Arial,sans-serif;
	font-size: 12px;
	line-height: 1.5;
	width: 100%;
	height: 100vh;
	/* background-image: url("/images/thumbnail.jpg"); */
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: #333;
}

h1,
h2 {
	font-weight: 300;
	line-height: 1.2;
	margin: 10px 0;
}

p {
	margin: 10px 0;
}

img {
	width: 100%;
}

code,
pre {
	background: #333;
	color: #fff;
	padding: 10px;
}


.pointer {
	cursor: pointer;
}

.hidden {
	visibility: hidden;
	height: 0;
}




.mp-padleft {
	padding-left: 8px;
}

.mp-padright {
	padding-right: 8px;
}

.mp-padding-small {
	padding: 8px 8px 8px 0 !important;
}

.mp-wide {
	letter-spacing: 4px;
}

.mp-header {
	margin: 16px 0 0 0;
	position: relative;
	min-height: 40px;
	z-index: 10;
}

.mp-header-item {
	padding: 0 8px 0 0;
	float: left;
	width: auto;
	border: none;
	display: block;
	outline: 0;
}

.mp-empty {
	color: Gainsboro;
}

.mp-warning {
	color: orange;
}

.mp-success {
	color: green;
}

.mp-error {
	color: red;
}

.mp-fileUpload {
	position: relative;
	overflow: hidden;
	margin-top: 10px;
	margin-bottom: 10px;
}

.mp-fileUpload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}

.mp-wrap-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: baseline;
}

.mp-nowrap-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: baseline;
}

.mp-tabs {
	height: 42px;
	margin: 0;
}

.mp-tabContent {
	width: 100%;
	height: auto;
	margin: 0;
}

.mp-section {
	display:inline-block;
	background-color: white;
	border: 1px dashed black;
	padding: 2em;
	margin: 2em;
	width:auto;
}

.mp-auto-width {
	width:auto !important;
}

.mp-footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 8px 16px;
	min-height: 30px;
	z-index: 10;
}

#headerLogo {
	vertical-align: text-top;
}

#Logo {
	margin: 3px 16px 0 8px;
	padding: 0;
	width: 140px;
	align-self: flex-start;
}

#showSettings {
	font-size: xx-large;
	font-weight: 900;
	line-height: 16px;
	cursor: pointer;
}

#settings {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 0;
	height: 0;
	padding: 0;
	z-index: 99;
	overflow: hidden;
	transition: all 0.2s ease-in;
}

	#settings.zoom {
		width: 340px;
		height: 50vh;
	}

#register {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 0;
	height: 0;
	margin-top: 0;
	margin-left: 0;
	padding: 5px;
	background-color: #fff;
	z-index: 99;
	overflow: hidden;
	transition: all 0.2s;
}

	#register.zoom {
		width: 30em;
		height: 30em;
		margin-top: -15em;
		margin-left: -14em;
	}

#login {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 0;
	height: 0;
	margin-top: 0;
	margin-left: 0;
	padding: 5px;
	background-color: #fff;
	z-index: 99;
	overflow: hidden;
	transition: all 0.2s;
}

	#login.zoom {
		width: 30em;
		height: 32em;
		margin-top: -11em;
		margin-left: -15em;
	}

#tooltip {
	z-index: 200;
}
